pkgbase = cando-git
	pkgdesc = Computer Aided Nanostructure Design and Optimization
	pkgver = 0.4.2.r4461.g0f3d3b238
	pkgrel = 1
	url = https://github.com/cando-developers/cando
	arch = x86_64
	license = LGPL
	makedepends = git
	makedepends = python3
	makedepends = python-is-python3
	makedepends = sbcl
	makedepends = libexpat1-dev
	makedepends = libgmp-dev
	makedepends = libbsd-dev
	makedepends = libedit-dev
	makedepends = libgmp-dev
	makedepends = libelf-dev
	makedepends = libffi-dev
	makedepends = llvm13
	makedepends = libnetcdf-dev
	makedepends = libncurses-dev
	makedepends = zlib1g-dev
	makedepends = libgc-dev
	makedepends = libunwind-dev
	makedepends = libczmq-dev
	makedepends = libboost-graph-dev
	depends = libexpat1-dev
	depends = libgmp-dev
	depends = libbsd-dev
	depends = libedit-dev
	depends = libgmp-dev
	depends = libelf-dev
	depends = libffi-dev
	depends = llvm13
	depends = libnetcdf-dev
	depends = libncurses-dev
	depends = zlib1g-dev
	depends = libgc-dev
	depends = libunwind-dev
	depends = libczmq-dev
	provides = cclasp-boehm
	provides = common-lisp
	provides = clasp-cl
	provides = cando
	options = !strip
	source = git://github.com/clasp-developers/clasp.git
	source = git://github.com/clasp-developers/seqan-clasp.git
	source = git://github.com/cando-developers/cando.git
	source = https://github.com/quicklisp/quicklisp-client/archive/refs/tags/version-2021-02-13.tar.gz
	source = wscript.config
	source = clasp.sh
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = 8efec9d46f0008c9f2fab387837f5a02d60ebb9f4a83106142ae954bc322b99bd48f9e91e2107dda188d679e27ddb5f48e444adfa98e6c15cf454923dfccadd5
	sha512sums = ddd11af3442c04a20a2f084e99144019a833bd26e2a29471fba64781b53534a9ef3663a5c6e6e2a8782f378f578abaf1d14c68b9223a6f1be82ed5fbe33a50a2
	sha512sums = 1624ca5ba9502afbcfe8c603590c884c3081162a94f86eded74ec8f1e2a1a2ca03694e2bef4190473b6c34230a478b2e95a87b5c458ff60028ca9b740cc173cd

pkgname = cando-git
